@mixin border_radius($amount) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}

@mixin box_shadow($rule) {
  -moz-box-shadow:    $rule;
  -webkit-box-shadow: $rule;
  box-shadow:         $rule;
}