@import "../css/bootstrap";
@import "../css/font-awesome";
@import "../css/fonts";
@import "../css/slick";

@import "_colors";
@import "_mixins";

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $white;
  color: $text-color;
  font-weight: 300;
}

.page {
  min-height: calc(100vh - 480px);
}

.loader-wrapper {
  position: fixed;
  z-index: 999;
  background: $white;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
}

.alert {
  border: none;
  font-size: 11pt;
  font-weight: 400;

  &.alert-danger {
    background: #fdeff0;
    color: #c55151;
  }

  &.alert-success {
    background: #f4fff7;
    color: #39904d;
  }
}

.btn {
  border: none;
  font-family: 'Roboto', sans-serif;

  &.btn-color, &.btn-alternative {
    background: #EEE;
    color: #74777c;
    font-weight: 600;

    &:hover {
      color: $white;
    }
  }

  &.btn-checkout {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.25rem;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $white;
    }

    &:disabled, &.disabled {
      opacity: 0.4;
    }
  }

  &.btn-link,
  &.btn-link:active,
  &.btn-link:focus{
    padding: 0;
    color: $text-color;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
  }

  &.btn-link:hover {
    color: $text-black;
  }
}

.bg-white {
  background: $white;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.text-black {
  color: $text-black !important;
}

.circle {
  @include border_radius(50%);
}

.br-0 {
  @include border_radius(0 !important);
}

a,
a:active,
a:focus {
  color:$dark-grey;
  text-decoration:none
}

a:hover {
  color: $text-black;
  text-decoration: none;
}

::selection {
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  margin: 0;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 24pt;
  color: $text-black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: 17pt;
}

h3 {
  font-weight: 900;
  font-size: 15pt;
  text-transform: none;
  color: $text-black;
}

h4 {
  font-size: 13pt;
  color: $text-black;
}

h5 {
  font-size: 13pt;
  text-transform: none;
  color: $text-black;
}

h6 {
  font-size: 11pt;
  text-transform: uppercase;
  color: $text-black;
}

strong {
  font-weight: 900;
}

.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.hover-grow:hover {
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -o-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}

input.form-control {
  &::placeholder,
  &:-ms-input-placeholder{
    color: $text-color;
    opacity: 1;
  }

  &:focus {
    border-color: inherit;
    @include box_shadow(none);
    color: inherit;
  }
}

.form-group label {
  color: $text-black;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.wishlist-toggle {
  &.wish .filled,
  &.wish:hover .empty,
  &.un-wish .empty,
  &.un-wish:hover .filled {
    display: none;
  }

  &.wish .empty,
  &.wish:hover .filled,
  &.un-wish .filled,
  &.un-wish:hover .empty {
    display: initial;
  }
}

.col-card {
  background: $white;
  margin-bottom: 2rem;

  h3 {
    padding: 1.5rem 0 1rem;
    border-bottom: solid 1px $light-grey;
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;

    &.text-lg {
      font-size: 21pt;
      padding: 1rem 0 1rem;
    }
  }

  .btn-change {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  .table {
    th, td {
      border: none;
    }

    .total {
      th, td {
        padding-top: 1rem;
        border-top: solid 1px $light-grey;
        color: $text-black;
        font-weight: 900;
        font-size: 1.25rem;
      }
    }
  }
}

#scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10%;
  right: 3%;
  text-align: center;
  color: $white;
  font-size: 2rem;
  vertical-align: middle;
  cursor: pointer;
  line-height: 50px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.social-links ul {
  padding: 0;
}

.social-links ul li {
  background: $light-grey;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  margin-left: 1rem;
  text-align: center;
  display: inline-block;
  list-style: none;
}

.social-links ul li:hover,
.social-links ul li:hover > a {
  color: $white;
}

section {
  position: relative;

  .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.product-box,
.article-box {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.product-box .product-img,
.article-box .article-img {
  position: relative;
  border: solid 1px #EEE;
  border-bottom: none;
}

.cart-item .product-img {
  position: relative;
  border: solid 1px #EEE;
}

.product-box .product-details,
.article-box .article-details {
  border: solid 1px #EEE;
  border-top: none;
  padding: 1rem 1rem 0.5rem 1rem;
  background: $white;
}
.product-box .product-details h6 {
  font-size: 10pt;
  font-weight: 100;
  color: #888;
  line-height: 16pt;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  max-width: 60%;
}

.product-box .product-img img,
.cart-item .product-img img,
.article-box .article-img img{
  width: 100%;
  height: auto;
}

.product-box .product-img .badge,
.cart-item .product-img .badge,
.article-box .article-img .badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  color: $white;
  line-height: 1rem;
}

.product-box .product-img .badge.new,
.cart-item .product-img .badge.new {
  left: 1rem;
  top: 1rem;
  right: auto;
  width: 3rem;
  height: 3rem;
  line-height: 2rem;
}

.article-box .article-img .badge {
  padding: 1rem 0.75rem;
  left: 0.5rem;
  right: auto;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 0.8rem;
  text-transform: uppercase
}

.product-box .product-img .badge.wishlist-toggle,
.cart-item .product-img .badge.wishlist-toggle {
  bottom: 0.5rem;
  left: auto;
  top: auto;
  background: $white;
  width: 2.5rem;
  height: 2.5rem;
  color: #ABABAB;
  line-height: 1rem;
}

.product-box .product-img .badge.wishlist-toggle:hover,
.cart-item .product-img .badge.wishlist-toggle:hover {
  color: $text-black;
}

.product-box .product-img .badge.wishlist-toggle.left {
  left: 0.5rem;
  right: auto;
}

.product-box .product-details .price,
.cart-item .price {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 13pt;
  color: $text-black;
}

.product-box.horizontal {

}

.product-box.horizontal .product-img,
.product-box.horizontal .product-details {
  border: none;
  padding: 0;
}

.cart-item .price .available {
  letter-spacing: 0;
  font-size: 9pt;
}


.article-box .article-img {
  border: none;
}

.article-box .article-details {
  padding: 1rem 0.5rem;
  border: none;
}

.cart-item {
  padding-bottom: 2rem;
  border-bottom: solid 1px #EEE;
  margin-bottom: 2rem;
}

.cart-item .price span {
  margin-right: 1rem;
}

.cart-item .price strong {
  font-size: 1.25rem;
  color: $text-black;
}

.cart-item .price .form-control {
  margin-left: 1rem;
  width: 3rem;
  text-align: center;
  color: $text-black;
}

.cart-item .remove-from-cart,
.cart-item .wishlist-toggle {
  font-size: 1.5em;
  line-height: 1em;
}

.cart-item .product-info-list {
  display: flex;
  padding: 0;
  justify-content: start;
}

.cart-item .product-info-list li {
  list-style: none;
  margin-right: 2rem;
}

.cart-item .product-info-list li strong {
  color: $text-black;
}

.full-width-banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.full-width-banner.overlayed {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.full-width-banner.overlayed img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 340px;
}

.full-width-banner.overlayed .banner-overlay {
  background: rgba(0, 0, 0, 0.3);
  padding: 5rem 3rem;
  width: 100%;
  height: 340px;
  position: relative;
}

.full-width-slick .slide-img {
  height: auto;
}

.contact-page {
  background: url("../images/map-pattern.jpg") repeat space;
  padding: 0;
}

.contact-page form{
  margin-top: 5rem;
  min-height: 550px;
}

.contact-page .static-contact {
  font-size: 1.15rem;
}

.category-pagination .pagination .page-link {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-weight: 900;
}

.category-pagination .pagination .page-item.active .page-link,
.category-pagination .pagination .page-item .page-link:hover {
  color: $white;
}

.category-pagination .pagination .previous .page-link,
.category-pagination .pagination .next .page-link {
  padding: 0.75rem;
  border: none;
  margin:0 0.5rem;
  line-height: 1rem;
}

.category-pagination .pagination .previous.disabled .page-link,
.category-pagination .pagination .next.disabled .page-link {
  cursor: default;
  color: $text-color;
}

.category-pagination .pagination .previous .page-link:hover,
.category-pagination .pagination .next .page-link:hover {
  background: inherit;
}

.slick-slider {
  width: 100%;
}

.slick-navigation {
  position: absolute;
  top: 40%;
  right: 0;
  width: 100%;
}

.slick-navigation ul {
  list-style: none;
}

.slick-navigation li {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  font-size: 5rem;
  color: #666
}

.slick-navigation li.prev {
  left: 2rem;
}

.slick-navigation li.next {
  right: 2rem;
}

.vertical-slider {
  padding: 0;
}

.vertical-slider .sidebar {
  width: 10%;
  float: left;
  vertical-align: top;
}

.vertical-slider .content {
  width: 87%;
  margin-left: 3%;
  float: left;
  vertical-align: top;
}

.vertical-slider .slick-navigation {
  width: 87.5%;
}

.slick-vertical .slick-track {
  margin: -0.25rem 0;
}

.slick-vertical .slick-slide {
  margin: 0.25rem 0;
}

.product-section .price {
  font-size: 12pt;
  border-top: solid 1px $light-grey;
  padding-top: 1rem;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

.product-section .price del, .product-section .price h3, .product-section .price span{
  display: inline-block;
}

.product-section .price h3 {
  margin: 0 0.5rem 0 0.75rem;
  font-size: 160%;
}

.product-section .price span {
  vertical-align: top;
  font-size: 70%
}

.product-section label {
  text-transform: uppercase;
  font-weight: 900;
  color: $text-black;
  margin-right: 1rem;
  font-size: 11pt;
}

.product-section .wishlist-toggle {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  margin: 1rem auto;
}

.product-section .tab-content .tab-pane {
  color: $text-black;
}

.product-section .nav-tabs {
  border: none;
}

.product-section .nav-tabs .nav-link {
  padding: 0 0 0.5rem 0;
  text-transform: uppercase;
  font-weight: 900;
  color: #ABABAB;
  letter-spacing: 0.05rem;
  margin-right: 2rem;
  border: none;
  font-size: 10pt;
}

.banner-section {
  overflow: hidden;
}

.banner-section img {
  width: 100%;
}

.metro-card {
  background: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    position: relative;
    display: block;
  }

  .card-body {
    position: absolute;
    bottom: 10%;
    left: 10%;
    text-align: center;
    width: 80%;
    background: rgba(255,255,255,0.9);

    .card-title {
      font-weight: 900;
      text-transform: uppercase;
      color: #000;
      font-size: 12pt;
      font-family: "Roboto", sans-serif;
    }
  }
}

.customer-form {
  .alert {
    margin: 1rem 0 0 0;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  .header {
    position: relative;

    &.secondary-header {
      margin-top: 1rem;
      text-align: center;
    }

    h3 {
      text-transform: uppercase;
    }

    .header-action {
      .btn {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        &.btn-logout {
          background: #b53c3c;
          text-decoration: none;
          font-weight: 900;
          text-transform: uppercase;
          color: $white;
          padding: 0.4rem 1rem;
          top: 1.35rem;
          right: 0;
          font-size: 10pt;
          line-height: 12pt;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  fieldset {
    label {
      font-family: 'Roboto', sans-serif;
      color: #777;
      text-transform: uppercase;
      font-size: 11pt;
      letter-spacing: 2px;
      display: block;
      margin-top: 2rem;
    }

    .form-input {
      display: block;
      width: 100%;
      color: $text-black;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      background-clip: padding-box;
      border: 1px solid #999;
    }

    .form-controls {
      margin-top: 2rem;

      .btn {
        &.btn-submit {
          width: 80%;
          margin: 1rem auto;
          padding: 1rem;
          color: $white;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 1.25rem;
          opacity: .8;
          display: block;

          &:hover {
            opacity: 1;
          }
        }

        &.btn-link {
          text-align: center;
          display: block;
        }
      }
    }
  }

  .additional-controls {
    margin-top: 2rem;

    .btn {
      border: solid 1px #ddd;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      width: 80%;
      margin: .5rem 10%;
      position: relative;
      height: 50px;
      line-height: 40px;
      opacity: 0.7;
      padding-left: 40px;
      color: #000;
      letter-spacing: 1px;
      font-weight: 900;
      overflow: hidden;

      &:hover {
        opacity: 1;
      };

      &.btn-facebook:before, &.btn-google:before {
        content: "";
        background-repeat: no-repeat;
        background-position: left 0 center;
        background-size: 100% 100%;
        position: absolute;
        left: -2px;
        top: -2px;
        width: 54px;
        height: 54px;
      }

      &.btn-facebook:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 542.2 542.2'%3E%3Ctitle%3E406210-PD16KK-870%3C/title%3E%3Cg id='OBJECTS'%3E%3Cpath d='M457.8-21.1H42.2A63.2,63.2,0,0,0-21.1,42.2V457.8a63.2,63.2,0,0,0,63.3,63.3H457.8a63.2,63.2,0,0,0,63.3-63.3V42.2A63.2,63.2,0,0,0,457.8-21.1ZM357.2,118.5H303.9A21,21,0,0,0,283,139.4v58.1h74.2L345.6,272H283V459.3H205.3V272H142.8V197.5h62.5V139.4a98.8,98.8,0,0,1,98.6-98.7h53.3Z' transform='translate(21.1 21.1)' style='fill:%233b5998'/%3E%3C/g%3E%3C/svg%3E");
      }

      &.btn-google:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 533.5 544.3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z' fill='%234285f4'/%3E%3Cpath d='M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z' fill='%2334a853'/%3E%3Cpath d='M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z' fill='%23fbbc04'/%3E%3Cpath d='M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z' fill='%23ea4335'/%3E%3C/svg%3E");
      }
    }
  }

  &.profile-form {
    fieldset {
      .form-controls {
        margin-top: 1rem;

        .btn {
          &.btn-link {
            float:left;
            line-height: 3rem;
            font-weight: 900;
            text-transform: uppercase;
          }

          &.btn-submit {
            width: auto;
            float: right;
            padding: 0.4rem 1rem;
            margin: 0 0 1.5rem 0;
            background: #44a24b !important;
            font-size: 12pt;
          }
        }
      }
    }
  }

  &.shipping-addresses {
    .header {
      .btn {
        &.btn-add {
          background: #44a24b;
          text-decoration: none;
          font-weight: 900;
          text-transform: uppercase;
          color: $white;
          padding: 0.4rem 1rem;
          top: 1.35rem;
          right: 0;
          font-size: 10pt;
          line-height: 12pt;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .shipping-addresses-list {
      margin-top: 2rem;

      .list-group-item {
        .item-title {
          color: $text-black;
          width: 88%;
          font-size: 0.9rem;
          font-weight: 900;
          text-transform: uppercase;
          display: inline-block;

          .badge {
            color: #AAA;
            font-weight: 100;
          }
        }

        .buttons {
          display: inline-block;
          text-align: right;
          font-weight: 900;
          font-family: "Roboto", sans-serif;
          width: 10%;

          a {
            color: #b53c3c;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .banner-section img {
    width: 120%;
    left: -10%;
    position: relative;
  }
}

@media (max-width: 576px) {
  .mobile-hide {
    display: none !important;
  }
}

// Navbar
nav {
  .navbar-toggler {
    font-size: 2rem;
  }

  .navbar-nav {
    &.nav-icons {
      padding-left: 1rem;
      border-left: 1px solid $light-grey;

      @media (max-width: 991px) {
        padding-left: 0;
        border-left: none;
      }
    }

    .nav-item .nav-link {
      color: $text-color;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
    }

    .nav-link {
      .nav-icon {
        font-size: 1.75rem;

        @media (max-width: 991px) {
          font-size: 1rem;
        }
      }

      .nav-text {
        display: none;

        @media (max-width: 991px) {
          display: inline-block;
        }
      }

    }
  }

  #product-search {
    padding-right: 1rem;

    .form-control {
      width: 0;
      border: none;
    }

    .btn {
      background: none;
      color: $text-color;
      font-size: 1.5rem;
      padding: 0;
    }
  }
}

@media (max-width: 991px) {
  nav {
    .navbar-nav {

      &.nav-icons {
        padding-left: 0;
        border-left: none;
      }

      .nav-link {
        .nav-icon {
          font-size: 1rem;
        }

        .nav-text {
          display: inline-block;
        }
      }

    }

    #product-search {
      .btn {
        display: none
      }

      .form-control {
        margin-left: 0;
        text-align: left;
        margin-top: 1rem;
        padding-left: 0;
        border-left: none;
        border-top: solid 1px $text-color;
        width: 100%;
      }
    }
  }
}

@media (hover: none) {
  #product-search .form-control {
    width: auto;
  }
}

@media (min-width: 992px) {
  nav {
    .navbar-nav {
      &.nav-icons {
        .nav-link {
          padding-right: 0.75rem;
          padding-left: 0.75rem;

          .badge {
            right: 0;
            margin: 0;
            padding: 0.3rem 0.25rem;
            position: absolute;
            top: -0.2rem;
          }
        }
      }
    }

    #product-search:hover {
      .form-control {
        width: 175px;
        text-align: right;
        border-left: solid 1px $text-color;
        margin-left: 1rem;
      }
    }
  }
}

// Slider
.slider {
  position: relative;
  height: 1px;
  background: $light-grey;
  width: 100%;
  display: block;
  margin: 20px 0 20px -10px;

  .ranges {
    position: absolute;
    padding-top: 1rem;
    width: calc(100% + 20px);

    .min,
    .max {
      width: 50%;
      color: #777;
      font-size: 12pt;
      font-weight: 900;
      letter-spacing: 2px;
      display: inline-block;
    }

    .min {
      padding-right: 10px;
      text-align: left;
      margin-left: -5px;
      padding-left: 5px;
    }

    .max {
      padding-left: 10px;
      text-align: right;
    }
  }

  .ui-slider-range {
    left: 18%;
    width: 82%;
    background: $medium-grey;
    height: 2px;
    position: relative;
  }

  .ui-slider-handle {
    background: $white;
    width: 20px;
    height: 20px;
    z-index: 10;
    position: absolute;
    top: -9px;
    cursor: grab;
    outline: none;
    border: solid 1px $medium-grey;
    @include border_radius(50%);
  }
}

// Footer
footer {
  .subscribe-block {
    h4 {
      line-height: 2.5rem;
    }
  }

  .footer-menus {
    h5 {
      text-transform: uppercase;
      padding: 2rem 0;

      &:before {
        content: '';
        position: absolute;
        top: 4.25rem;
        width: 4rem;
        height: 2px;
      }
    }

    .nav {
      .nav-link {
        padding: .5rem 0;
        color: $text-color;

        &:hover {
          color: $text-black;
        }
      }
    }

    .social-links {
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: solid 1px $light-grey;
    }
  }

  .credits {
    line-height: 45px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;

    a {
      color: $white;
    }

    img {
      max-height: 31px;
      vertical-align: top;
      margin: 5px 0;
    }

    .left {
      float: left;
      text-align: left;
      width: 70%;
      padding-left: 2rem
    }

    .right {
      float: right;
      text-align: right;
      width: 30%;
      padding-right: 2rem;
    }
  }
}

// Collection Page
.collection-header {
  .overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 32pt;
    color: $text-black;
    transform: translateY(-50%);

    @media (max-width: 991px) {
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
}

// Search
.search-page {
  .search-open {
    text-align: center;
    border-top: solid 1px $light-grey;
    border-bottom: solid 1px $light-grey;
    padding: 1rem 0;
    line-height: 16pt;
    display: none;
    z-index: 10;
    background: $white;
    font-size: 10pt;
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 900;
    text-transform: uppercase;

    i {
      font-size: 15pt;
      margin-right: 0.5rem;
    }

    @media (max-width: 991px) {
      display: block;
    }
  }

  .search-sidebar {
    padding: 0 14px;
    background: #FFF;
    border-left: solid 1px #DDD;
    border-right: solid 1px #DDD;

    .card {
      border: none;
      padding-top: 1rem;
      @include border_radius(0);

      .card-header {
        cursor: pointer;
        color: $medium-grey;
        font-size: 11pt;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        padding-left: 2.5rem;
        position: relative;

        &:before {
          content: "-";
          position: absolute;
          top: 50%;
          transform: translateY(-55%);
          left: 0;
          padding-left: 1rem;
          font-weight: 100;
          font-size: 20pt;
        }

        &.collapsed:before {
          content: "+";
          transform: translateY(-50%);
        }
      }

      .card-body {
        .btn {
          text-align: left;
          text-transform: uppercase;
          color: $text-color;
          &:hover {
            color: $text-black;
          }
        }

        .btn-close {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 24pt;
          display: none;

          @media (max-width: 991px) {
            display: block;
          }
        }
      }
    }

    @media (max-width: 991px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 100%;
      z-index: 999;
      overflow: scroll;
      height: 100%;

      &.collapsed {
        display: none;
      }
    }
  }

  .search-data {
    @media (max-width: 991px) {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  .color-swatch {
    .swatch {
      display: block;
      width: 25px;
      height: 25px;
      border: solid 2px #FFF;
      @include border_radius(50%);
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox]:checked + .swatch {
      @include box_shadow(0 0 0 1px $text-black);
    }
  }
}

.review-form {
  width: 100%;
  display: block;

  @media (min-width:992px) {
    border-right: solid 1px #EEE;
    padding-right: 1em;
  }
}

.reviews {
  max-height: 700px;
  overflow-y: scroll;
  width: 100%;
  display: block;

  @media (min-width:992px) {
    padding-left: 1em;
  }
}

.rating {
  &.stars-1, &.stars-2, &.stars-3, &.stars-4, &.stars-5 {
    .star:nth-child(1) {
      background: gold;
    }
  }

  &.stars-2, &.stars-3, &.stars-4, &.stars-5 {
    .star:nth-child(2) {
      background: gold;
    }
  }

  &.stars-3, &.stars-4, &.stars-5 {
    .star:nth-child(3) {
      background: gold;
    }
  }

  &.stars-4, &.stars-5 {
    .star:nth-child(4) {
      background: gold;
    }
  }

  &.stars-5 {
    .star:nth-child(5) {
      background: gold;
    }
  }

  .star {
    margin: auto .1em;

    &:last-child {
      margin-right: auto;
    }

    background: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}

.review {
  margin-bottom: 2em;

  .badge {
    line-height: 1;
    margin: .25em 0 auto;
    padding: .3em 1em;
    font-size: 80%;
    color: #fff;
    background: #167b1e;
    display: inline-block;
    @include border_radius(.25em);
    font-weight: normal;
  }

  .rating {
    margin-bottom: .5em;
  }

  .review-date {
    font-size: 80%;
    color: #999;
    line-height: .8;
  }

  .review-author {
    font-weight: 600;
    margin: 0 auto .25em;
  }

  .review-body {
    margin: 0 auto 0 1em;
  }
}

#product-reviews .review-form .form {
  .rating {
    margin-bottom: 2em;

    .star {
      width: 30px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .review-form-group {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row;

    label {
      width: 60px;
      font-weight: 600;
    }

    input, textarea {
      margin-left: 1em;
      width: 100%;
      display: block;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      padding: 5px;
    }

    button {
      margin-left: auto;
      border: none;
      color: #000;
      padding: 12px 40px;
      font-size: 14px;
      margin-top: 1.5rem!important;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      line-height: 1.5;
      margin-bottom: 3rem;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

#review-form-response {
  color: #FFF;
  @include border_radius(.25em);
  padding: .5em 1em;
  margin-bottom: 1em;
  display: none;

  &.error {
    background: #bd1111;
    display: block;
  }
}

.grecaptcha-badge {
  display: none;
}

.order-history{
  justify-content: center;
  text-align: center;

  .orders-table{

    .order-actions{
      a {
        @media(min-width:480px) {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
        }
      }
    }

    thead{
      border: none !important;
    }

    tr{
      border-bottom: 1px black solid;

      td{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
}